.dashboard {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, 7em);
  grid-gap: 1em;
}

.widget {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.widget-overflow {
  max-height: 7em;
}

.no-padding {
  padding: 0;
}

.status-icon {
  color: green;
  margin-bottom: 20px;
}

.system-details {
  margin-bottom: 30px;
}

.system-details p {
  margin-top: 0;
  font-size: xx-small;
}

.widget h3,
.system-details h3 {
  margin-top: 0;
  font-size: xx-small;
}

.system-status {
  font-weight: bold;
}

.system-status.online {
  color: green;
}

.system-status.active {
  color: green;
}

.system-status.initialized {
  color: green;
}

.system-status.offline {
  color: red;
}

.system-status.inactive {
  color: red;
}

.system-status.uninitialized {
  color: red;
}

#liveCode {
  box-shadow: none;
  font-size: xx-small;
}

#matrix {
  width: 7em;
  height: 7em;
}

.chart-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.bar {
  height: 100%;
  background-color: #aa0;
  transition: height 0.5s ease-out;
}

.label {
  margin-top: 5px;
  text-align: center;
  color: #333;
}

.bar-container {
  width: calc(100% / 10);
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #aa0;
}
