.reveal .slide-number {
    left: 8px;
    right: auto;
}

.reveal h1 {
    font-size: 4rem;
}

.reveal h2 {
    font-size: 3rem;
}

.reveal p,
.reveal a,
.reveal th,
.reveal td,
.reveal li {
    font-size: 1.5rem;
}

.reveal th {
    font-weight: bold;
}

.reveal p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.reveal section * {
    z-index: 1;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

.no-border,
.no-border td {
    border: 0px !important;
}

p,
.left,
.left>li {
    text-align: left;
}

.center,
.center tr td,
.caption {
    text-align: center;
}

code {
    text-align: left !important;
}

.applause-container {
    justify-content: center;
    align-items: center;
}


.applause-sign {
    padding: 20px 60px;
    background-color: darkred;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    border: 2px solid gold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    box-shadow: 0px 0px 30px rgba(255, 215, 0, 0.7);
    animation: blink 2s infinite;
    border-radius: 20px;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
