.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
venv
css/reveal.min.css
js/reveal.min.js
script/output.adoc
script.pdf

mavhi/3d-models/gcodes
mavhi/3d-models/*.FCBak
mavhi/mavhi-hardware/mavhi-hardware/mavhi-hardware-backups/
mavhi/mavhi-hardware/mavhi-hardware/*.lck
